@model SharedLayer.Domain.ViewModels.CategoryVM

@{
    ViewData["Title"] = "Create";
}


<div class="container py-16">
    <div class="mx-auto shadow px-6 py-7 rounded overflow-hidden">
        <h2 class="text-2xl text-center uppercase font-medium mb-6">
            Add Category
        </h2>

        <form asp-action="Create" enctype="multipart/form-data">
            <div class="space-y-4">
                <div>
                    <label for="name"
                           class="text-gray-600 mb-2 block">
                        Category Name
                        <span class="text-primary">*</span>
                    </label><input id="name"
                                   name="name"
                                   type="text"
                                   class="inputForm block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:outline-none placeholder-gray-400"
                                   placeholder="Enter Product Name " />
                </div>

                <div>
                    <label for="description"
                           class="text-gray-600 mb-2 block">
                        Description
                    </label>
                    <textarea id="description"
                              name="description"
                              type="text-area"
                              class="inputForm block w-full border border-gray-300 px-4 py-8 text-gray-600 text-sm rounded focus:ring-0 focus:outline-none placeholder-gray-400"
                              placeholder="Enter Description"></textarea>
                </div>

                <div>
                    <label for="imageUpload"
                           class="text-gray-600 mb-2 block">
                        Category Image
                        <span class="text-primary">*</span>
                    </label>
                    <input type="file" asp-for="file" name="file"  class="bg-gray-100 rounded rounded-6 p-2 text-gray-800 cursor-pointer hover:bg-white border border-gray-200" />
                </div>
            </div>
            <div class="mt-4">
                <input type="submit" value="Create"
                        class="bolck w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium"/>
                    
            </div>
        </form>
    </div>
</div>
