@model SharedLayer.Domain.ViewModels.ForgotPasswordViewModel

@{ ViewData["Title"] = "ForgotPassword"; }

<h1>ForgotPassword</h1>

<h4>ForgotPasswordViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login">Back to Login</a>
</div>




<!-- login -->
<div class="container py-16">
    <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
        <h2 class="text-2xl text-center uppercase font-medium mb-6">
            Forget Password
        </h2>

        <form asp-action="ForgotPassword" method="post">
            <div class="space-y-4">
                <div>
                    <label asp-for="Email" class="text-gray-600 mb-2 block">
                        Email Address
                        <span class="text-primary">*</span>
                    </label><input asp-for="Email"
                                   id="Email"
                                   type="Email"
                                   class="inputForm block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:outline-none placeholder-gray-400"
                                   placeholder="Enter your email " />
                </div>

            </div>

            <div class="mt-4">
                <button type="submit"
                        class="bolck w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">
                    Create
                </button>
            </div>
        </form>
        <a asp-action="Login">Login?</a>
    </div>
</div>
<!-- login-end -->




@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
