@model SharedLayer.Domain.ViewModels.ResetPasswordViewModel

@{ ViewData["Title"] = "ResetPassword"; }



<!-- login -->
<div class="container py-16">
    <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
        <h2 class="text-2xl text-center uppercase font-medium mb-6">
            Login
        </h2>

        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Token" />

            <div class="space-y-4">
                <div>
                    <label asp-for="Email" class="text-gray-600 mb-2 block">
                        Email Address
                        <span class="text-primary">*</span>
                    </label><input asp-for="Email"
                                   id="Email"
                                   type="Email"
                                   class="inputForm block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:outline-none placeholder-gray-400"
                                   placeholder="Enter your email " />
                </div>
                <div>
                    <label asp-for="NewPassword"
                           class="text-gray-600 mb-2 block">
                        New Password
                        <span class="text-primary">*</span>
                    </label><input asp-for="NewPassword"
                                   id="NewPassword"
                                   type="password"
                                   class="inputForm block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:outline-none placeholder-gray-400"
                                   placeholder="Enter your password " />
                </div>
                <div>
                    <label asp-for="ConfirmNewPassword"
                           class="text-gray-600 mb-2 block">
                         Confirm New Password
                        <span class="text-primary">*</span>
                    </label><input asp-for="ConfirmNewPassword"
                                   id="ConfirmNewPassword"
                                   type="password"
                                   class="inputForm block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:outline-none placeholder-gray-400"
                                   placeholder="Enter your password " />
                </div>
            </div>

            <div class="mt-4">
                <button type="submit"
                        class="bolck w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">
                    Reset Password
                </button>
            </div>
        </form>
    </div>
</div>
<!-- login-end -->




@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
