@model SharedLayer.Domain.ViewModels.BrandVM

@{
    ViewData["Title"] = "Details";
}
<!-- product view -->
<div class="container flex gap-6 flex-wrap">
    <!--  product image -->
    <div class="w-[320px] sm:w-[420px] md:lg:w-[510px] lg:w-[510px]">
    </div>
    <!-- product image-end -->
    <!-- product content -->
    <div w-[400px]>
        <h2 class="text-3xl font-medium uppercase mb-2">
            @Model.name
        </h2>
        <div class="flex items-center mb-4">
        </div>
        <!-- quantity -->
        <div class="mt-4">
        </div>
        <!-- quantity-end -->
        <!-- add to cart btn -->
        <div class="flex gap-3 pb-5 mt-6">
            <a href="/Brand/Index"
               class="bg-primary border border-primary text-white px-8 py-2 font-medium rounded uppercase flex items-center gap-2 hover:bg-opacity-0 hover:text-primary transition">
                All Brand
            </a>
        </div>
        <!-- add to cart btn-end -->
    </div>
    <!-- product content-end -->
</div>
<!-- product view-end -->